@import 'style.css';

.planos {
   margin: 5% 10% 5% 10%;
}

.planos h2 {
    font-weight:bold;
    margin-bottom: 40px;
    font-size:22px;
}

.tabela-valores {
    width:100%;
    margin-bottom: 30px;
}

.tabela-valores thead {
    font-weight:bold;
    font-size: 20px;
}

th{
    padding-bottom:10px;
}

.tabela-valores tbody {
    padding-top:20px;
}


td {
    border: 1px solid #b9b3b3 ;
    text-align:center;
    padding:20px;
}

.planos p {
    margin-top:10px;
    text-align:right;
}

.checked {
    color:rgb(26, 182, 47);
}

.closed {
    color:rgb(212, 31, 31);
}


