@import 'style1.css';

.contatenos {
     width:50%;
     margin: 5% 0 5% 10%;
}

.contatenos h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.form-demo label {
    display:block;
    padding-top:30px;
    font-size: 18px;
}

.form-demo input {
    margin-top:2px;
    padding:5px;
    width:80%
}

.dados-contato {
    margin-top: 8%;
}

.dados-contato p {
    margin-top:6px;
}

.imagem-suporte {
    float:right;
    margin-right: 10%;
    border-radius: 50%;
    width: 300px;
}