@import 'style1.css';

.sobre-nos {
    margin: 5% 5%;
    font-size: 20px;
    display:none;
}

.img-sobre-nos {
    width:500px;
    border-radius:20px;
    box-shadow: 1px 1px 1px 4px #000000;
    float:left;
    margin-right: 50px;
}

.titulos {
    font-size:30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sobre-nos p, h3 {
    margin-bottom: 30px;
}

.sobre-nos h3 {
    font-size: 18px;
    text-align: center;    
    font-weight: bold;
    text-transform:uppercase;
}

.sobre-nos h3:hover  {
    cursor:pointer;
    font-size:20px;
}

.beneficios {
    margin: 3% 5% 10% 15%;
    font-size: 18px;
    display:none;
}

.img-beneficios{
    width:450px;
    border-radius:20px;
    box-shadow: 1px 0px 1px 3px #000000;
    float:right;
    margin-right: 70px;
}

.beneficios li {
    margin: 20px;
    padding-top:3px;
}

.star {
    margin-right: 6px;
    float:left;
}