@import 'style.css';


.section-formulario{
    width:40%;
    margin:2% 0 3% 10%;
    float:left;
}


.section-formulario h2{
   font-size:22px;
   font-weight:bold;
}

.formulario-cadastro label {
    display:block;
    padding-top:30px;
    font-size: 18px;
}

.formulario-cadastro input {
    margin-top:2px;
    padding:5px;
    width:80%
}

.cadastrar{
    margin: 2% 0 0 5%;
    width:70%;
    padding: 15px;
    border:none;
    border-radius: 5px;
    cursor:pointer;   
    background-color: #28a528;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 15px;
    text-transform:uppercase;
}

.section-infos{
    margin: 5% 0 10% 10%;
}

.imagem-experimente {
    width:300px;
    border-radius:50%;
    margin: 3% 0 3% 18%;
    box-shadow: 1px 1px 1px 2px #000000;
}


.section-infos p{
   text-align:center;
   padding:10px;
}

.erro {
    border-radius: 5px;
    padding: 20px;
    background-color:rgb(201, 26, 26);
    color:#FFFFFF;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    width:70%;
    margin: 1% 0 0 1%;
    display:none;
}